<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Online Store</title>
</head>
<body>
    <header>
        <h1>Welcome to our Online Store!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/clothing">Clothing</a></li>
                <li><a href="/shoes">Shoes</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2022 My Online Store. All rights reserved.</p>
    </footer>
</body>
</html>
